<div class="mb-4 text-start">
  <div class="contact">
    <h5 class="text-yellow" (click)="toggle.emit()">CONTACT</h5>
    <div class="info_contact" [class.hidden]="isCollapsed">
      <ul class="list-unstyled">
        <ng-container *ngFor="let contact of contacts">
          <li class="list-item">{{ contact.type }}</li>
          <li class="list-item-last" *ngIf="contact.subValue; else showValue">
            {{ contact.subValue }}
          </li>
          <ng-template #showValue>
            <li class="list-item-last">{{contact.value}}</li>
          </ng-template>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
