<div class="p-5 text-center">
  <app-profile-picture [imageUrl]="photoUrl"></app-profile-picture>

  <app-contact [contacts]="contacts" [isCollapsed]="isContactCollapsed" (toggle)="toggleSection('contact')" (addContact)="handleAddContact($event)"></app-contact>
  <app-education [education]="education" [isCollapsed]="isEducationCollapsed" (toggle)="toggleSection('education')" (addEducation)="handleAddEducation($event)"></app-education>
  <app-skills [skills]="skills" [isCollapsed]="isSkillsCollapsed" (toggle)="toggleSection('skills')" (addSkill)="handleAddSkill($event)"></app-skills>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
